<div class="col-md-12" *ngIf="data">
<div class="col-md-4">
    <mat-form-field>
        <label style="float: left;">Cases of the study</label>
        <mat-select style="float: left !important;" [(ngModel)]="selectedObj" (selectionChange)="reloadAnalysis()">
          <mat-option *ngFor="let analysis of data.analyses | orderBy:'name'" [value]="analysis.id">
              {{analysis.name}} 
              <!-- <a [routerLink]="['/past-analysis', analysis.id]"><div style="width: 100%;">  {{analysis.name}}</div></a> </mat-option> -->
              <!-- <a [routerLink]="['/past-analysis', analysis.id]">{{analysis.name}}</a>--></mat-option> 
        </mat-select>
    </mat-form-field>
    </div>
<div class="col-md-8" style="padding-top: 20px;float: left;">
  <!-- <mat-form-field style="margin-left: 60px;"> -->

  <mat-accordion style="text-align:left;">
    <mat-expansion-panel  class="spacee">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Metabolomics Measurements
        </mat-panel-title>
      </mat-expansion-panel-header>
          <!--<concentration-table [conTable]="conTable"></concentration-table>-->
      <div class="row">
        <form  >
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th> </th>
                <th>Metabolite Name</th>
                <th>Change Value</th>

              </tr>
              </thead>

              <tbody>

              <tr *ngFor="let r of conTable;let i=index">
                <td> </td>
                <td>{{ r[0] }}</td>
                <td>{{ r[1] }}</td>

              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </mat-expansion-panel>  </mat-accordion>
  <!-- </mat-form-field> -->
</div>
</div>
<hr>
<h1>
    {{data?.study_name}} - {{ data?.case_name }} - ({{data?.method}}) - {{data?.disease}} <!--({{data?.status ?  'done' : 'running' }})-->
</h1>
<div *ngIf="data?.results_pathway">
  <div>
    <pathway-histogram [pathwayScores]="data.results_pathway"></pathway-histogram>
  </div>
  <div>
    <similar-diseases [id]="id"></similar-diseases>
  </div>
  <div>
    <result-table [data]="[data]"></result-table>
  </div>
</div>
