
<section id="past-analysis" class="container">
		<div class="row">
		  <div class="col-mat-12">


        <button type="button" class="btn btn-default" (click)="submit()">
		  Compare
			</button>
        <form [formGroup]="form">

		  <mat-tab-group>
			<ng-template ngFor let-type [ngForOf]="data | keys">
			  <mat-tab *ngIf="data[type].length != 0" [label]="(type == 'list' ? 'private' : type) | titlecase">
				<div class="panel panel-default">
				  <mat-accordion>
					  <mat-expansion-panel *ngFor="let i of data[type] | orderBy:'name'" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
						  <mat-expansion-panel-header>
						  <mat-panel-title style="width: 33%;">
								  <!-- <a [routerLink]="['/past-analysis', i.id]"> -->
									  {{i.name}}<!--({{i.status ?  'done' : 'running' }})-->
									  <!-- </a> -->
						  </mat-panel-title>
						  <mat-panel-description style="width: 33%;">
								  {{i.method}}
						  </mat-panel-description>
						  <mat-panel-description style="width: 33%;">
								  {{i.disease}}
						  </mat-panel-description>
						  </mat-expansion-panel-header>

						  <li class="list-group-item" *ngFor="let j of i.analyses | orderBy:'name'">
								  <div class="col-md-1 col-xs-1 col-lg-1"></div>
								  
<!--                <input type="checkbox" [formControl]="j.id" />{{j.id}}-->


								  <div>
									<div style="display: inline-block; width: 30%;"><input type="checkbox" [formControlName]="j.id" /><a [routerLink]="['/past-analysis', j.id]">{{j.name}}</a></div>
									<div style="display: inline-block; width: 25%;">{{j.start}}</div>
									<div style="display: inline-block; width: 25%;">{{j.end}}</div>
								  </div>
						  </li>


            </mat-expansion-panel>
				  </mat-accordion>
				 </div>
			  </mat-tab>
			</ng-template>
		  </mat-tab-group>
        </form>

		  </div>
		</div>
	  </section>
